@charset "UTF-8";

.pagination {
  margin: 40px 0;
  text-align: center;

  &__link {
    display: inline-block;

    &--prev {
      margin-right: 10px;
    }

    &--next {
      margin-left: 10px;
    }
  }

  &__current {
    display: inline-block;
  }
}
