@charset "UTF-8";

// 変数
$sp-max-width: 568px;
$tab-min-width: $sp-max-width + 1;
$tab-max-width: 1000px;

// sp
@mixin mq-sp($max: $sp-max-width) {
  @media only screen and (max-width: #{$max}) {
    @content;
  }
}

// tablet
@mixin mq-tablet($min: $tab-min-width, $max: $tab-max-width) {
  @media only screen and (min-width: #{$min}) and (max-width: #{$max}) {
    @content;
  }
}
