@charset "UTF-8";

.post {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 6.25%;

  &__title {
    line-height: 1.4;

    @include mq-sp {
      font-size: 2rem;
    }
  }

  &__date {
    margin-top: -10px;
  }

  &__content {
    margin-top: 40px;
  }

  h2 {
    border-left: 5px solid $color-accenct;
    margin: 70px 0 20px;
    padding-left: 12px;

    + h3 {
      margin-top: 20px;
    }
  }

  h3 {
    margin: 50px 0 10px;
  }

  h4 {
    font-weight: bold;
    margin: 1em 0 5px;
  }

  p {
    word-wrap: break-word;

    code {
      background-color: #062f2c;
      border-radius: 3px;
      color: #fff;
      font-family: 'Courier New', Courier, Monaco, monospace;
      font-size: 90%;
      margin: 0 .5em;
      padding: 2px 4px;
      vertical-align: middle;
      // word-break: break-all;
      // word-wrap: break-word;
    }
  }

  img {
    display: block;
    height: auto;
    margin: 0 auto 2em;
    max-width: 100%;
  }

  ol,
  ul {
    margin: 1em 0;
    padding-left: 1em;
  }

  li {
    list-style-position: outside;
  }

  blockquote {
    background-color: #ccc;
    font-style: italic;
    margin: 30px 0;
    padding: 30px;

    a {
      font-size: $font-size-small;
    }
  }

  iframe {
    display: block;
    margin: 20px auto;
  }
}

.post-hr {
  border-top: 1px solid $color-text;
  margin: 25px auto;
  width: 66.05058366%;
}

.post-ad {
  margin: 10% auto 0;
  max-width: 800px;
  padding: 0 6.25%;
  text-align: center;

  &__head {
    display: block;
    font-size: $font-size-small;
  }

  &__body {
    display: inline-block;
  }
}

.post-nav {

  &__list {
    display: flex;
    list-style: none;

    @include mq-sp {
      display: block;
    }
  }

  &__item {
    @extend %clearfix;
    flex: 1;

    &:first-child {
      margin-bottom: 30px;

      @include mq-sp {
        margin-bottom: 0;
      }
    }

    &--next {
      text-align: right;
    }
  }

  &__link {
    display: block;
    padding: 14px 40px;
  }

  &__label {
    color: $color-text;
    font-weight: bold;
  }

  &__title {
    margin-top: 0;
  }

  &__menu {
    text-align: center;
  }
}

.amazlet-box {
  font-size: 1rem;
  margin: 40px 0;
}

.app-data,
.appfom1 {
  margin: 40px 0;
}

.appbanner {
  margin: 40px 0;
}

.kaerebalink-box {
  margin: 40px 0 20px;
}

.ShareInfo {
  margin: 20px 0;
}

.booklink-box {
  margin: 40px 0;
}
